<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Form Buffet</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<div id="page-container">
		<div id="content-wrap">
			<!-- all other page content -->


			<div class="flex-item1">
				<!-- Menu Navigation Bar -->
				<nav class="menu">
					<img src="/css/capg.png" width="50" height="40" align="left">
					CATERING.IT
					<div class="menu-log">
						<a th:href="@{/logout}"><b>Logout</b></a>
					</div>
				</nav>
			</div>

			<!-- Body section -->
			<div id="flex">
				<div class="flex1">
					<x> </br>

					<y>Inserisci i dati del buffet da inserire:</y></br>
					<form th:action="@{/buffetAdmin}" method="post" th:object="${buffet}">
						<div th:if="${#fields.hasGlobalErrors()}" th:style="'color:red'">
							<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
						</div>
						<div>
							Nome buffet: <input type="text" th:field="*{nome}">
							<p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:style="'color:red'"></p>
						</div>

						<div>
							Descrizione buffet: <input type="text" th:field="*{descrizione}">
						</div>

						<div>
							</br>
							<h4>Seleziona i piatti presenti nel buffet</h4>
							<fieldset>
								<legend>Piatti registrati</legend>
								<input th:each=piatto:${piatti} type="checkbox"
									th:text="${piatto.nome} + ' '" th:field="*{piattiProposti}"
									th:value="${piatto.id}">
							</fieldset>
							<p th:if="${#fields.hasErrors('piattiProposti')}" th:errors="*{piattiProposti}" th:style="'color:red'"></p>
						</div>
						<div>
							</br>

							<div>
								<h4>Seleziona lo Chef che ha proposto il buffet</h4>

								<select th:field="*{propositore}" style="width:150px">
									<option th:each=chef:${chefs} th:value="${chef.id}"
										th:text="${chef.nome} + '  ' + ${chef.cognome}">Chef
									</option>
								</select>
								<p th:if="${#fields.hasErrors('propositore')}" th:errors="*{propositore}" th:style="'color:red'"></p>
							</div>
							</br>
							<button type="submit">Conferma</button>
						</div>
					</form>

					</x>
				</div>
				<div class="flex2">
					<div class="flex3">
						<a th:href="@{/buffetsAdmin}"><img border="0"
							style="width: 100%; max-width: 400px" src="/css/buffet1.png"
							onmouseover="this.src='/css/Buffet.jpg';"
							onmouseout="this.src='/css/buffet1.png';" /></a>
					</div>
					<div class="flex3">
						<a th:href="@{/piattiAdmin}"><img border="0"
							style="width: 100%; max-width: 400px" src="/css/PIATTO.jpg"
							onmouseover="this.src='/css/Piatti.jpg';"
							onmouseout="this.src='/css/PIATTO.jpg';" /></a>
					</div>
					<div class="flex3">
						<a th:href="@{/chefsAdmin}"><img border="0"
							style="width: 100%; max-width: 400px" src="/css/TOQUE.jpg"
							onmouseover="this.src='/css/Chef.jpg';"
							onmouseout="this.src='/css/TOQUE.jpg';" /></a>
					</div>
				</div>
			</div>

		</div>

		<!-- Footer Section -->
		<footer>
			<a th:href="@{/admin}">Home</a>
		</footer>
	</div>

</body>
</html>