<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Dati Chef</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<div id="page-container">
		<div id="content-wrap">
			<!-- all other page content -->


			<div class="flex-item1">
				<!-- Menu Navigation Bar -->
				<nav class="menu">
					<img src="/css/capg.png" width="50" height="40" align="left">
					CATERING.IT
					<div class="menu-log">
						<a th:href="@{/logout}"><b>Logout</b></a>
					</div>
				</nav>
			</div>

			<!-- Body section -->
			<div id="flex">
				<div class="flex1">
					<x> </br>


					<div>
						<y>Riepilogo dati chef</y>
						<div>
							Nome:<span th:text="${chef.nome}">Antonino</span> </br>
							Cognome:<span th:text="${chef.cognome}">Cannavacciuolo</span> </br>
							Nazionalità:<span th:text="${chef.nazionalita}">Italia</span></br>
						</div>

						<div th:if="${buffetsProposti}">
						
							<div th:if="${buffetsProposti.size() != 0}">
								<h4>Buffet proposti dallo chef:</h4>
								<div th:each=buffet:${buffetsProposti}>
									<l><a th:text="${buffet.nome}" href="buffet.html"
										th:href="@{'/buffetAdmin' + '/' + ${buffet.id}}"> </a></l></br></br>
								</div>
								</a>
							</div>

							<div th:unless="${buffetsProposti.size() != 0}">
								<h4>Non ci sono buffet proposti da questo Chef</h4>
							</div>
						</div>
						
					</div>

					</x>
				</div>
				<div class="flex2">
					<div class="flex3">
						<a th:href="@{/buffetsAdmin}"><img border="0"
							style="width: 100%; max-width: 400px" src="/css/buffet1.png"
							onmouseover="this.src='/css/Buffet.jpg';"
							onmouseout="this.src='/css/buffet1.png';" /></a>
					</div>
					<div class="flex3">
						<a th:href="@{/piattiAdmin}"><img border="0"
							style="width: 100%; max-width: 400px" src="/css/PIATTO.jpg"
							onmouseover="this.src='/css/Piatti.jpg';"
							onmouseout="this.src='/css/PIATTO.jpg';" /></a>
					</div>
					<div class="flex3">
						<a th:href="@{/chefsAdmin}"><img border="0"
							style="width: 100%; max-width: 400px" src="/css/TOQUE.jpg"
							onmouseover="this.src='/css/Chef.jpg';"
							onmouseout="this.src='/css/TOQUE.jpg';" /></a>
					</div>
				</div>
			</div>

		</div>

		<!-- Footer Section -->
		<footer>
			<a th:href="@{/admin}">Home</a>
		</footer>
	</div>

</body>
</html>