<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Aggiungi chef</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<div id="page-container">
		<div id="content-wrap">
			<!-- all other page content -->


			<div class="flex-item1">
				<!-- Menu Navigation Bar -->
				<nav class="menu">
					<img src="/css/capg.png" width="50" height="40" align="left">
					NOME
					<div class="menu-log">
						<a th:href="@{/}"><b>Login</b></a>
					</div>
				</nav>
			</div>

			<!-- Body section -->
			<div id="flex">
				<div class="flex1">
					<x> </br>

					<y>Inserisci i dati dello chef da inserire:</y>
					<form th:action="@{/chef}" method="post" th:object="${chef}">
						<div th:if="${#fields.hasGlobalErrors()}">
							<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
						</div>
						<div>
							Nome Chef: <input type="text" th:field="*{nome}"> <span
								th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
						</div>

						<div>
							Cognome Chef: <input type="text" th:field="*{cognome}"> <span
								th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
						</div>

						<div>
							Nazionalità Chef: <input type="text" th:field="*{nazionalita}">
						</div>

						<div>
							<button type="submit">Conferma</button>
						</div>
					</form>
					</x>
				</div>
				<div class="flex2">
					<div class="flex3">
						<a th:href="@{/buffets}"><img border="0"
							style="width: 100%; max-width: 400px" src="/css/buffet1.png"
							onmouseover="this.src='/css/Buffet.jpg';"
							onmouseout="this.src='/css/buffet1.png';" /></a>
					</div>
					<div class="flex3">
						<a th:href="@{/piatti}"><img border="0"
							style="width: 100%; max-width: 400px" src="/css/PIATTO.jpg"
							onmouseover="this.src='/css/Piatti.jpg';"
							onmouseout="this.src='/css/PIATTO.jpg';" /></a>
					</div>
					<div class="flex3">
						<a th:href="@{/chefs}"><img border="0"
							style="width: 100%; max-width: 400px" src="/css/TOQUE.jpg"
							onmouseover="this.src='/css/Chef.jpg';"
							onmouseout="this.src='/css/TOQUE.jpg';" /></a>
					</div>
				</div>
			</div>

		</div>

		<!-- Footer Section -->
		<footer>
			<a th:href="@{/admin}">Home</a>
		</footer>
	</div>

</body>
</html>