<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>chefForm</title>
<link rel="stylesheet" type="text/css" href="/css/stile.css"/>
</head>
<body>

    <div class="flex-item">
	<!-- Menu Navigation Bar -->
      <nav class="menu">
        <a>Nome</a>
		<div class="menu-log">
		<a href="#login">LOGIN</a>
		</div>
	  </nav>
	
	<!-- Body section -->
      <div id="flex">
      <div class="flexa">
         <main class = "body_sec">
	     <section id="Content">
		 <h3>

	<h2>Inserisci i dati dello chef da inserire:</h2>
	<form th:action="@{/chef}" method="post" th:object="${chef}">
		<div>
			Nome Chef: <input type="text" th:field="*{nome}">
		</div>

		<div>
			Cognome Chef: <input type="text" th:field="*{cognome}">
		</div>

		<div>
			Nazionalità Chef: <input type="text" th:field="*{nazionalita}">
		</div>

		<div>
			<button type="submit">Conferma</button>
		</div>

</h3>
		</section>
	  </main>        
      </div>  
      <div class="flex2">
        <div class="flexx">
          <div class="flex3">
          <div class="c">
        <a href="#buffet">BUFFET</a></br>
          </div>
          </div>
          <div class="flex3">
          <div class="b">
		<a href="#piatti">PIATTI</a></br>
        </div>
        </div>
          <div class="flex3">
          <div class="a">
		<a href="#notification">CHEF</a></br>
        </div>
        </div>
      </div>
     </div>
     </div>
     </div>
      
	<!-- Footer Section -->
		<footer>
			<a href="/">Torna alla home</a>
		</footer> 



	</form>
</body>
</html>