<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>User</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<div id="page-container">
		<div id="content-wrap">
			<!-- all other page content -->


			<div class="flex-item1">
				<!-- Menu Navigation Bar -->
				<nav class="menu">
					<img src="/css/capg.png" width="50" height="40" align="left">
					CATERING.IT
					<div class="menu-log">
						<a th:href="@{/login}"><b>Login</b></a>
					</div>
				</nav>
			</div>

			<!-- Body section -->
      <div id="flex">
      
      <div class="flex2">
          <div class="flex3">
          	<t>CONTATTI</br></t>
          	Via della Vasca Navale, 79, 00146 Roma RM</br>
			+39 06 5733 3201</br>
			didattica.ingegneria@uniroma3.it</br>
			<t>SOCIAL</br></t> 
			<a href="https://www.facebook.com/"><img src="/css/iconefb.png" width="70" height="70" >
			<a href="https://www.instagram.com/"><img src="/css/iconeig.png" width="70" height="70" >
			<a href="https://twitter.com/"><img src="/css/iconetw.png" width="70" height="70" ></br>
			<t>JOB OPPORTUNITY</br></t> 
			didattica.ingegneria@ateneo.uniroma3.it</br>
        </div>
      </div>


		<!-- Footer Section -->
		<footer>
			<a th:href="@{/}">Home</a>
		</footer>
	</div>
</body>
</html>