<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Home</title>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<div id="page-container">
   <div id="content-wrap">
     <!-- all other page content -->
   

    <div class="flex-item1">
	<!-- Menu Navigation Bar -->
      <nav class="menu">
      	<img src="/css/capg.png" width="70" height="70" align="left">
        <a>NOME</a>
		<div class="menu-log">
		<a href="#login">Login</a>
		</div>
	  </nav>
	  </div>
	
	<!-- Body section -->
      <div id="flex">
      
      <div class="flex2">
          <div class="flex3">
          	<t>CONTATTI</br></t>
          	Galleria Vittorio Emanuele II, 20121 Milano</br>
			+39 02 876774</br>
			info@ristorantecracco.it</br>
			<t>SOCIAL</br></t> 
			<img src="/css/iconefb.png" width="70" height="70" >
			<img src="/css/iconeig.png" width="70" height="70" >
			<img src="/css/iconetw.png" width="70" height="70" ></br>
			<t>JOB OPPORTUNITY</br></t> 
			curriculum@ristorantecracco.it</br>
        </div>
      </div>
      
      <div class="flex1">
		 <h3>

		    <div>
        <h4>Operazioni user:</h4>
        <div>
            <a th:href="@{/buffets}">Elenco buffet</a> 
            <div></div>
            <a th:href="@{/chefs}">Elenco chef</a>
            <div></div>
            <a th:href="@{/piatti}">Elenco piatti</a>
        </div>
    	<h4>Operazioni admin:</h4>
    	<div> 
    		<a th:href="@{/admin/buffet}">Aggiungi un buffet</a>
    		<div></div>
    		<a th:href="@{/admin/chef}">Aggiungi uno chef</a>
    		<div></div>
    		<a th:href="@{/admin/piatto}">Aggiungi un piatto</a>
    	</div>
    
    </div>

</h3>
      </div>  
      <div class="flex2">
          <div class="flex4">
          <div class="c">
           <a th:href="@{/buffets}"><img border=”0” style="width:100%; max-width:300px;border-radius: 10px" src="/css/CIBO3.webp" onmouseover="this.src='/css/Buffet.jpg';" onmouseout="this.src='/css/CIBO3.webp';"/>
          </div>
          </div>
          <div class="flex4">
          <div class="b">
           <a th:href="@{/piatti}"><img border=”0” style="width:100%; max-width:300px;border-radius: 10px" src="/css/Mouse.jpg" onmouseover="this.src='/css/Piatti.jpg';" onmouseout="this.src='/css/PIATTO.jpg';"/>
        </div>
        </div>
          <div class="flex4">
          <div class="a">
		<a th:href="@{/chefs}"><img border=”0” style="width:100%; max-width:300px; border-radius: 10px" src="/css/TOQUE.jpg" onmouseover="this.src='/css/Chef.jpg';" onmouseout="this.src='/css/TOQUE.jpg';"/>
        </div>
        </div>
      </div>
     </div>
      
</div>
      
	<!-- Footer Section -->
    <footer><a th:href="@{/}">Home</a></footer> 
 </div>

</body>
</html>