<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Home</title>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<div id="page-container">
   <div id="content-wrap">
     <!-- all other page content -->
   

    <div class="flex-item1">
	<!-- Menu Navigation Bar -->
      <nav class="menu">
      	<img src="/css/capg.png" width="50" height="40" align="left">
        NOME
		<div class="menu-log">
		<a th:href="@{/}"><b>Login</b></a>
		</div>
	  </nav>
	  </div>
	
	<!-- Body section -->
      <div id="flex">
      
      <div class="flex2">
          <div class="flex3">
          	<t>CONTATTI</br></t>
          	Galleria Vittorio Emanuele II, 20121 Milano</br>
			+39 02 876774</br>
			info@ristorantecracco.it</br>
			<t>SOCIAL</br></t> 
			<img src="/css/iconefb.png" width="70" height="70" >
			<img src="/css/iconeig.png" width="70" height="70" >
			<img src="/css/iconetw.png" width="70" height="70" ></br>
			<t>JOB OPPORTUNITY</br></t> 
			curriculum@ristorantecracco.it</br>
        </div>
      </div>
      
      <div class="flex5">
		 <x>
		 	</br>
    		<y>Operazioni admin: </br></y>
    		<a th:href="@{/admin/buffet}"><l>Aggiungi un buffet</l></a></br>
    		<a th:href="@{/admin/chef}"><l>Aggiungi uno chef</l></a></br>
    		<a th:href="@{/admin/piatto}"><l>Aggiungi un piatto</l></a></br>
		</x>
      </div>  
      <div class="flex2">
          <div class="flex4">
           <a th:href="@{/buffets}"><img border=”0” style="width:100%; max-width:300px;border-radius: 10px" src="/css/buffet1.png" onmouseover="this.src='/css/Buffet.jpg';" onmouseout="this.src='/css/buffet1.png';"/></a>
          </div>
          <div class="flex4">
           <a th:href="@{/piatti}"><img border=”0” style="width:100%; max-width:300px;border-radius: 10px" src="/css/Mouse.jpg" onmouseover="this.src='/css/Piatti.jpg';" onmouseout="this.src='/css/PIATTO.jpg';"/></a>
        </div>
          <div class="flex4">
		<a th:href="@{/chefs}"><img border=”0” style="width:100%; max-width:300px; border-radius: 10px" src="/css/TOQUE.jpg" onmouseover="this.src='/css/Chef.jpg';" onmouseout="this.src='/css/TOQUE.jpg';"/></a>
        </div>
      </div>
     </div>
      
</div>
      
	<!-- Footer Section -->
    <footer><a th:href="@{/user}">Home</a></footer> 
 </div>

</body>
</html>