<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body  id="top">
	
<div class="wrapper row3">
 <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ############################################################################################# -->
    <section class="group">
      <div class="one_half first"><img class="inspace-15 borderedbox" src="images/pic0.png" alt=""></div>
      <div class="one_half">
      <div class="containerLogin">
		<div>
			<h6 class="heading" th:text="#{header.login}">Login</h6>
		</div>
		
		<form th:action="@{/login}" method="POST">
			<div>
				<div>
					<h6 class="heading"><span>Username:</span></h6>
					<h6 class="heading"><span><input name="username" type="text" required /></span></h6>
				</div>	
				<p class="nospace"></p>	
				<div>
					<h6 class="heading"><span>Password:</span></h6>
					<h6 class="heading"><span><input name="password" type="password" required /></span></h6>
				</div>
				<div>
				<p class="nospace"></p>	
				<h6 class="heading"><span><button type="submit">Login</button></span></h6>
				</div>
			</div>
		</form>
		</div>
	  <div>
	  </div>
      </div>
    </section>
    <!-- ############################################################################################# -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>


</body>
</html>