<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Dati Piatto</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<div id="page-container">
		<div id="content-wrap">
			<!-- all other page content -->


			<div class="flex-item1">
				<!-- Menu Navigation Bar -->
				<nav class="menu">
					<img src="/css/capg.png" width="50" height="40" align="left">
					CATERING.IT
					<div class="menu-log">
						<a th:href="@{/login}"><b>Login</b></a>
					</div>
				</nav>
			</div>

			<!-- Body section -->
			<div id="flex">
				<div class="flex1">
					<x> </br>

					<div>
						<y>Riepilogo dati piatto</y></br>
						<div>
							Nome:<span th:text="${piatto.nome}">Carbonara</span> </br>
							Descrizione:<span th:text="${piatto.descrizione}">Descrizione</span></br>
						</div>

						<div>
							<h4>Ingredienti presenti nel piatto:</h4>
							<l><a th:each="ingrediente : ${piatto.ingredienti}"
								th:text="${ingrediente.nome} + ' '" href="ingrediente.html"
								th:href="@{'/ingrediente' + '/' + ${ingrediente.id}}">Guanciale</a></l>
						</div>
					</div>

					<div th:if="${buffetsConPiatto}">
						
							<div th:if="${buffetsConPiatto.size() != 0}">
								<h4>Buffet in cui é presente questo piatto:</h4>
								<div th:each=buffet:${buffetsConPiatto}>
									<l><a th:text="${buffet.nome}" href="buffet.html"
										th:href="@{'/buffet' + '/' + ${buffet.id}}"> </a></l></br></br>
								</div>
								</a>
							</div>

							<div th:unless="${buffetsConPiatto.size() != 0}">
								<h4>Non ci sono buffet con questo piatto</h4>
							</div>
						</div>

					</x>
				</div>
				<div class="flex2">
					<div class="flex3">
						<a th:href="@{/buffets}"><img border="0"
							style="width: 100%; max-width: 400px" src="/css/buffet1.png"
							onmouseover="this.src='/css/Buffet.jpg';"
							onmouseout="this.src='/css/buffet1.png';" /></a>
					</div>
					<div class="flex3">
						<a th:href="@{/piatti}"><img border="0"
							style="width: 100%; max-width: 400px" src="/css/PIATTO.jpg"
							onmouseover="this.src='/css/Piatti.jpg';"
							onmouseout="this.src='/css/PIATTO.jpg';" /></a>
					</div>
					<div class="flex3">
						<a th:href="@{/chefs}"><img border="0"
							style="width: 100%; max-width: 400px" src="/css/TOQUE.jpg"
							onmouseover="this.src='/css/Chef.jpg';"
							onmouseout="this.src='/css/TOQUE.jpg';" /></a>
					</div>
				</div>
			</div>

		</div>

		<!-- Footer Section -->
		<footer>
			<a th:href="@{/}">Home</a>
		</footer>
	</div>

</body>
</html>