<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Dati Piatto</title>
<link rel="stylesheet" type="text/css" href="/css/styleone.css"/>
</head>
<body>
<div id="page-container">
   <div id="content-wrap">
     <!-- all other page content -->
   

    <div class="flex-item1">
	<!-- Menu Navigation Bar -->
      <nav class="menu">
      	<img src="/css/capg.png" width="70" height="70" align="left">
        <a>NOME</a>
		<div class="menu-log">
		<a href="#login">Login</a>
		</div>
	  </nav>
	  </div>
	
	<!-- Body section -->
      <div id="flex4">      
      <div class="flex5">
		 <h3>
	<div>
		<h4>Riepilogo dati piatto</h4>
		<div>
			<span th:text="${piatto.nome}">Paolo</span> 
			<span th:text="${piatto.descrizione}">Rossi</span> 
		</div>
	</div>
	
		</h3>
      </div>
      <div class="flex6"></div>  
     </div>
      
</div>
      
	<!-- Footer Section -->
    <footer>Contatti</footer> 
 </div>

</body>
</html>