<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Form Piatto</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<div id="page-container">
		<div id="content-wrap">
			<!-- all other page content -->


			<div class="flex-item1">
				<!-- Menu Navigation Bar -->
				<nav class="menu">
					<img src="/css/capg.png" width="50" height="40" align="left">
					NOME
					<div class="menu-log">
						<a th:href="@{/}"><b>Logout</b></a>
					</div>
				</nav>
			</div>

			<!-- Body section -->
			<div id="flex">
				<div class="flex1">
					<x> </br>
					<y>Inserisci i dati del piatto da inserire:</y> <br></br>
					<form th:action="@{/piatto}" method="post" th:object="${piatto}">
						<div th:if="${#fields.hasGlobalErrors()}">
							<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
						</div>
						<div>
							Nome piatto: <input type="text" th:field="*{nome}"> 
							<p
								th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
							</p>
						</div>

						<div>
							Descrizione piatto: <input type="text" th:field="*{descrizione}">
						</div>

						<div>
							</br>
							<p>Inserisci gli ingredienti presenti nel piatto</p>
							<select class="select" th:field="*{ingredienti}" multiple>
								<option th:each="ingrediente : ${listaIngredienti}"
									th:value="${ingrediente.id}" th:text="${ingrediente.nome}">Ingrediente</option>
							</select>
						</div>
						</br>
						<div>
							<button type="submit">Conferma</button>
						</div>
					</form>
					</x>
				</div>
				<div class="flex2">
					<div class="flex3">
						<a th:href="@{/buffets}"><img border="0"
							style="width: 100%; max-width: 275px" src="/css/buffet1.png"
							onmouseover="this.src='/css/Buffet.jpg';"
							onmouseout="this.src='/css/buffet1.png';" /></a>
					</div>
					<div class="flex3">
						<a th:href="@{/piatti}"><img border="0"
							style="width: 100%; max-width: 275px" src="/css/PIATTO.jpg"
							onmouseover="this.src='/css/Piatti.jpg';"
							onmouseout="this.src='/css/PIATTO.jpg';" /></a>
					</div>
					<div class="flex3">
						<a th:href="@{/chefs}"><img border="0"
							style="width: 100%; max-width: 275px" src="/css/TOQUE.jpg"
							onmouseover="this.src='/css/Chef.jpg';"
							onmouseout="this.src='/css/TOQUE.jpg';" /></a>
					</div>
				</div>
			</div>

		</div>

		<!-- Footer Section -->
		<footer>
			<a th:href="@{/admin}">Home</a>
		</footer>
	</div>

</body>
</html>