<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Riepilogo buffet da eliminare</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<div id="page-container">
		<div id="content-wrap">
			<!-- all other page content -->


			<div class="flex-item1">
				<!-- Menu Navigation Bar -->
				<nav class="menu">
					<img src="/css/capg.png" width="50" height="40" align="left">
					NOME
					<div class="menu-log">
						<a th:href="@{/}"><b>Login</b></a>
					</div>
				</nav>
			</div>

			<!-- Body section -->
			<div id="flex">
				<div class="flex1">
					<x> </br>
					<y>Riepilogo dati del buffet da eliminare</y>
					<div>
						<span th:text="${buffet.nome}">Buffet</span> <span
							th:text="${buffet.descrizione}">Descrizione</span>
					</div>
					<div>
						<y>Buffet proposto dallo chef:</y>
						<a
							th:text="${buffet.propositore.nome} + ' ' + ${buffet.propositore.cognome}"
							th:href="@{'/chef' + '/' + ${buffet.propositore.id}}">Antonino
							Cannavacciuolo </a>
					</div>

					<div>
						<y>Piatti:</y>
						<ul>
							<li th:each=piatto:${buffet.piattiProposti}><a
								href="piatto.html" th:href="@{'/piatto' + '/' + ${piatto.id}}"
								th:text="${piatto.nome}+ ' ' + ${piatto.descrizione}">Carbonara
							</a></li>
						</ul>

						<a th:href="@{'/admin/deleteBuffet' + '/'  + ${buffet.id}}">Elimina</a>
					</div>
					</x>
				</div>
				<div class="flex2">
					<div class="flex3">
						<a th:href="@{/buffets}"><img border="0"
							style="width: 100%; max-width: 400px" src="/css/buffet1.png"
							onmouseover="this.src='/css/Buffet.jpg';"
							onmouseout="this.src='/css/buffet1.png';" /></a>
					</div>
					<div class="flex3">
						<a th:href="@{/piatti}"><img border="0"
							style="width: 100%; max-width: 400px" src="/css/PIATTO.jpg"
							onmouseover="this.src='/css/Piatti.jpg';"
							onmouseout="this.src='/css/PIATTO.jpg';" /></a>
					</div>
					<div class="flex3">
						<a th:href="@{/chefs}"><img border="0"
							style="width: 100%; max-width: 400px" src="/css/TOQUE.jpg"
							onmouseover="this.src='/css/Chef.jpg';"
							onmouseout="this.src='/css/TOQUE.jpg';" /></a>
					</div>
				</div>
			</div>

		</div>

		<!-- Footer Section -->
		<footer>
			<a th:href="@{/user}">Home</a>
		</footer>
	</div>

</body>
</html>