<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>User</title>
<link rel="stylesheet" type="text/css" href="/css/styleone.css"/>
</head>
<body>
<div id="page-container">
   <div id="content-wrap">
     <!-- all other page content -->
   

    <div class="flex-item1">
	<!-- Menu Navigation Bar -->
      <nav class="menu">
      	<img src="/css/capg.png" width="70" height="70" align="left">
        <a>NOME</a>
		<div class="menu-log">
		<a href="#login">Login</a>
		</div>
	  </nav>
	  </div>
	
	<!-- Body section -->
      <div id="flex">
      	<div class="flex1">
           <a th:href="@{/buffets}"><img border=”0” style="width:100%; max-width:480px;border-radius: 10px" src="/css/CIBO3.webp" onmouseover="this.src='/css/Buffet.jpg';" onmouseout="this.src='/css/CIBO3.webp';"/>
      	</div>
      
      	<div class="flex2">
      		<div class="flex3">
				<a th:href="@{/piatti}"><img border=”0” style="width:100%; max-width:480px;border-radius: 10px" src="/css/PIATTO.jpg" onmouseover="this.src='/css/Piatti.jpg';" onmouseout="this.src='/css/PIATTO.jpg';"/>
        	</div>
       		<div class="flex3">
				<a th:href="@{/chefs}"><img border=”0” style="width:100%; max-width:480px; border-radius: 10px" src="/css/TOQUE.jpg" onmouseover="this.src='/css/Chef.jpg';" onmouseout="this.src='/css/TOQUE.jpg';"/>
        	</div>
      	</div>
      </div>
    </div>
      
	<!-- Footer Section -->
    <footer><a th:href="@{/}">Home</a></footer> 
 </div>
</body>
</html>